.card {
  background-color: aqua;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  text-align: center;
  border-radius: 1rem;
  transition: transform 1s;
}

.card:hover {
  transform: scale(1.1);
}

img {
  width: 100%;
  /* max-width: 240px; */
}
